.numeric-filter-closed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.numeric-filter-closed__value {
  font-size: 12px;
}

.numeric-filter-closed__separator {
  font-size: 10px;
  margin: 0 5px;
  color: #aaa;
  font-style: italic;
}
